[submodule "public"]
	path = public
	url = https://github.com/SangyeopNam/leaf_public.git
	branch = main
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
